/* Base styles*/
* {
    font-family: "Raleway", sans-serif;
 }

a {
    color: #FFC229;
    text-decoration: none;
}
a:hover {
    color: #B8860B;
}

section {
    display: block;
    padding-top: 75px;
}

.container {
    width: 970px;
    margin: auto;
    padding-top: 75px;
}

.container h3, .container h4 {
    margin: 20px 0;
    text-align: center;
}
.container h3 {
    font-size: 20px;
    font-weight: bold;
    color:#B8860B
}
.container h4 {
    font-size: 15px;
}

/* Header */

.header-container,
.footer-container {
    display: flex;
    flex-direction: row;
    width: 970px;
    margin: auto;
}

header {
    width: 100%;
    background-color: #001C6B;
    height: 75px;
    padding: 20px;
    position: fixed;
    z-index: 300;
}

header #company-logo {
    flex: 2;
}

header h1 {
    font-size: 25px;
    font-weight: thin;
    font-family: "Josefin Sans", cursive;
    color: #FFC229;
    line-height: 35px;
    text-shadow: 1px 1px 3px #333;
    ;
}

header .menu-wrapper {
    flex: 2;
    line-height: 35px;
    text-align: right;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.flags {
    width: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
}

.flags__item {
    width: 30px;
}

.flags__img {
    display: block;
    cursor: pointer;
}

#hero-image {
    height: 100vh;
    background: #000 url("../images/hero.png") no-repeat fixed bottom;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.tag-line {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #ccc;
    text-transform: uppercase;
    opacity: 0.5;
}

/* Back to top button*/

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #db0404;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#topButton:hover {
    background-color: #555;
}

/* About us section*/

#about-us{
    padding: 25px 0;
}
#about-us p {
    text-align:justify;
}

/* Portfolio section*/
#portfolio {
    background-color: #333;
    color: #fff;
    padding: 25px;
    text-align: center;
}

.portfolio-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
}

.portfolio-item {
    flex: 1;
    flex-basis: 33px;
}

.portfolio-description {
    margin-bottom: 20px;
}

/* Events */
#events{
    background-color: #eee;
    padding: 25px 0;
}

#upcoing-events-table{
    width: 100px;
    border-spacing: 10px;
    border-collapse: separate;
    margin-bottom: 20px;
}

#upcoing-events-table{
    text-align-last: left;
    font-weight: bolder;
}

/* Contact */
#contact-us{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

#contact-us fieldset{
    width: 80%;
    margin: auto;
    background-color: #eee;
    padding: 20px;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;
}

#contact-us p{
    text-align: center;
    margin-bottom: 10px;
}

#contact-us input,
#contact-us textarea {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 5px;
}

#contact-us input{
    height: 40px;
}
#contact-us textarea{
    height: 200px;
}
#contact-us button{
    width: 100%;
    height: 40px;
}

#contact-us button:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #001C6B;
    position: relative;
    bottom: 0;
    height: 100px;
}

footer .menu-wrapper{
    flex: 1;
    line-height: 35px;
    text-align: left;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 0 10px;
    line-height: 100px;
}

footer #copyright{
    color: #fff;
    line-height: 100px;
}